html {
  font-size: 10px;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

}
img {
  max-width: 100%;
}
ul {
  list-style:none;

}
a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

input {
  outline: none;
}